body {
    background-image: url('roti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: lightblue; 
    font-size: xx-large;
}

a {
    color: white; 
    text-decoration: none; 
}

